@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Storics App</h4>
        </div>
        <hr />
        <div class="col-12 text-center">
            <p class="bg-info text-muted">This app is available only on the Web</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>IMG</h4>
        </div>
        <div class="col">
            <h4>Storics Music</h4>
            <p>More than 1000+ Albumes to choose</p>
        </div>
    </div>
</div>